body {
    margin: 0;
}
.header {
	padding: 20px;
}
.navigation-bar {
	background-color: cornflowerblue;
    display: flex;
    z-index: 10;
}
.navigation-bar > div {
    padding: 20px;
}
.tab {
}
.tab:hover {
    background-color: powderblue;
}
.tab-dummy {
    background-color: skyblue;
}
.text {
	background-color: skyblue;
	padding: 30px;
}
.image-display {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 10px;
    cursor: pointer;
    padding: 30px;
}
.credit {
	background-color: cornflowerblue;
	padding: 10px;
}
.video-display {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
    padding: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
.grid-item {
	background-color: skyblue;
	border: 1px solid white;
    padding: 5px;
    
    text-align: center;
}
#return-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: indianred;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  display: none;
}

#return-button:hover {
  background-color: grey; /* Add a dark-grey background on hover */
  display: none;
}
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}